html,
body {
  max-height: 100vh;
  overflow: hidden;
}

/* Button Tooltips */
button.btn-floating,
.sidenav-trigger {
  position: relative;
  overflow: visible;
}

button.btn-floating::before {
  left: 0;
  bottom: -90%;
}

button.btn-floating::before,
.sidenav-trigger::before {
  content: attr(data-action);
  position: absolute;
  transform: translateY(-50%) scale(0);
  padding: 0 0.6em;
  line-height: 1.7;
  background-color: black;
  color: white;
  text-transform: capitalize;
  font-size: 0.9em;
  border-radius: 0.3em;
  z-index: 2;
  transition: all 300ms ease-in-out;
}

.sidenav-trigger::before {
  top: 40%;
  left: -200%;
}

button.btn-floating:hover::before,
.sidenav-trigger:hover::before {
  transform: translateY(-50%) scale(1);
}

/* Sidenav */
.sidenav-trigger {
  display: none;
}

.sidenav {
  max-height: 100vh;
}

.sidenav .header {
  position: fixed;
  top: 0;
  z-index: 5;
}

.sidenav-fixed {
  position: absolute !important;
}

.sidenav .notes {
  position: absolute;
  top: 11em;
  max-height: calc(100% - 11em);
  overflow: hidden;
}

.sidenav .notes:hover {
  overflow-y: scroll;
}

.container {
  max-width: 1300px;
  height: 100vh;
  width: 90% !important;
  margin: 0 auto !important;
  transition: all 300ms ease-in-out;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.editor {
  position: absolute;
  left: 320px;
  width: calc(100% - 320px);
  padding-top: 0.2em;
}

.editor header.row {
  margin-bottom: 0;
  max-height: 50px;
}

.editor-container {
  min-height: 100vh;
}

/* .editor-row(row) .quill .ql-toolbar | .ql-container .ql-editor */
.actionBtns {
  height: 50px !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.editor-row {
  height: calc(100vh - 50px);
  margin-bottom: 0 !important;
}

.quill {
  height: calc(100% - 50px);
}

.actionBtns .right {
  padding: 0 !important;
  margin-right: 2em;
}

.quill .ql-toolbar {
  display: block;
  background: #eaecec;
}

.ql-container {
  height: 100%;
}

.ql-editor {
  min-height: 100%;
  overflow-y: hidden;
  background-color: #fefefe;
  transition: overflow-y 300ms ease-in-out;
}

.ql-editor:hover,
.ql-editor:focus {
  overflow-y: scroll;
}

/* Notes */
.collection-item input[type="text"]:focus,
.collection-item input[type="text"]:active,
.collection-item input:-internal-autofill-selected {
  background-color: transparent !important;
}

.logo img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1000px) {
  .sidenav-trigger {
    display: inline-block;
  }

  .editor-container {
    min-height: calc(100vh - 50px);
  }

  .editor-row {
    height: calc(100vh - 100px);
  }

  .editor {
    left: 2%;
    width: 96%;
  }

  .container {
    width: 100% !important;
    margin: 0;
  }
}
